@font-face {
    font-family: "Trajan Bold";
    src: url(../assets/fonts/Trajan\ Pro\ Bold.ttf);
}

@font-face {
    font-family: "Lora";
    src: url(../assets/fonts/Lora-Medium.ttf);
}

:root {
    --dark-green: #021812;
    --light-green: #1A965A;
    --dark-green-opacity: #021812E5;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: "Lora";
    color: white;
    background-color: var(--dark-green);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Trajan Bold";
}

p {
    margin: 0;
    font-family: "Lora";
    font-size: 1.2rem;
}

a {
    color: white;
    text-decoration: none;
}

.green-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(2, 24, 18) 0%, rgb(3, 29, 22) 5%, rgba(10, 46, 33, 0.5) 100%);
}

.mainTitle {
    color: white;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle::after {
    position: relative;
    bottom: 6vh;
    content: url(../assets/placeholders/HKunderline.webp);
    max-height: 2vh;
}

/* Paramètres du header (pour charac list, à voir pour le reste) */

header {
    height: 10vh;
    background-color: var(--dark-green);
    display: flex;
    justify-content: flex-start;
}

header #homeLinkContainer {
    width: 10vh;
    height: 10vh;
}

header #homeLink {
    display: block;
    width: 100%;
    height: 100%;
    /* Temporairement, dans l'attente d'un logo. */
    background-image: url(../assets/lucdia_logo.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 10vw);
    grid-template-rows: auto;
}

nav .navItem {
    position: relative;
    font-family: "Trajan Bold";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 350ms;
}

nav .navItem::after {
    position: absolute;
    margin: auto;
    height: 0;
    left: 0;
    width: 90%;
    right: 0;
    bottom: 0;
    content: "";
    background-color: var(--light-green);
    transition: 350ms;
}

nav .navItem:hover::after {
    height: 5px;
}

nav .navItem a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .activeLink::after {
    height: 5px;
}