@font-face {
    font-family: "Trajan Bold";
    src: url(../assets/fonts/Trajan\ Pro\ Bold.ttf);
}

@font-face {
    font-family: "Lora";
    src: url(../assets/fonts/Lora-Medium.ttf);
}

:root {
    --dark-green: #021812;
    --dark-green-lighter: #03221a;
    --light-green: #1A965A;
    --dark-green-opacity: #021812E5;
}

/* Paramètres globaux et suppression des paramètres CSS pré-définis. */

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: "Lora";
    color: white;
    background-color: var(--dark-green);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Trajan Bold";
}

p {
    margin: 0;
    font-family: "Lora";
    font-size: 1.2rem;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Paramètres de titres */

.mainTitle.bigTitle {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle.bigTitle::after {
    position: relative;
    bottom: 6vh;
    content: url(../assets/placeholders/HKunderline.webp);
    max-height: 2vh;
}

.bigTitle {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigTitle::after {
    position: relative;
    bottom: 2vh;
    content: url(../assets/placeholders/HKunderline.webp);
    max-height: 2vh;
}

/*
    Paramètres du header 
    Fait aussi pour les footer du coup
*/

header, footer {
    height: 10vh;
    background-color: var(--dark-green);
    display: flex;
    justify-content: flex-start;
}

header #homeLinkContainer {
    width: 10vh;
    height: 10vh;
}

header #homeLink {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../assets/lucdia_logo.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 10vw);
    grid-template-rows: 10vh auto;
}

nav .navItem {
    position: relative;
    font-family: "Trajan Bold";
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 350ms;
}

header nav .navItem::after, footer nav .navItem::before {
    position: absolute;
    height: 0;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    content: "";
    background-color: var(--light-green);
    transition: 350ms;
}

header nav .navItem::after {
    bottom: 0;
}

footer nav .navItem::before {
    top: 0;
}

nav .navItem a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navItem.activeLink::after {
    height: 5px;
}

/* Pour le menu déroulant */

.navHiddenList {
    height: 0vh;
    overflow: hidden;
    transition-duration: 500ms;
}

.navHiddenList, .navHiddenList li {
    width: 10vw;
    background-color: var(--dark-green);
}

.navHiddenList li {
    height: 5vh;
    opacity: 0;
    transition-duration: 500ms;
}

#landListContainer {
    grid-row: 2;
    grid-column: 2;
}

/* Pour retirer le after moche d'en bas du menu déroulant des pays */

nav .navItem.navHiddenList:hover::after {
    height: 0;
}

/* Les animations pour le header */

header nav .navItem:hover::after, footer nav .navItem:hover::before {
    height: 5px;
}

.navHiddenList li:hover a, .navHiddenList .activeListItem {
    background-color: var(--dark-green-lighter);
    box-shadow: inset 5px 0px 0px 0px var(--light-green);
    transition-duration: 250ms;
}

/* Spécialement pour la liste des pays. */

#landContainer:hover+#landListContainer, #landListContainer:hover {
    height: 25vh;
}

#landContainer:hover+.navHiddenList li, #landListContainer:hover li {
    opacity: 100;
}

#landContainer:hover+#landListContainer li {
    transition-delay: 200ms;
}

/* Pour la séparation juste avant le footer, pour qu'on puisse voir bien la séparation */

.bottom-gradient-separation {
    width: 100vw;
    height: 5vh;
    background: linear-gradient(180deg, var(--dark-green) 0%, rgb(4, 37, 29) 100%)
}

/* 
    Style pour un item de type squarePlaceholderItem (item de pays sur la page d'accueil, ou de héros sur les pages de pays
    Note : Le background ne marche que pour des images plus larges que hautes. 
*/

.squarePlaceholderItemContainer {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 2vw;
}

.squarePlaceholderItemContainer .squarePlaceholderItemContainerTitle {
    grid-column: 1 / span 5;
}

.squarePlaceholderItem {
    height: 30vh;
    width: 15vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

.squarePlaceholderItem .content {
    width: 15vw;
    height: 6vh;
    padding: 1vh 0;
    background-color: var(--dark-green-opacity);
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    transition-duration: 500ms;
}

.squarePlaceholderItem .content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.squarePlaceholderItem .content .title {
    height: 6vh;
    font-size: 1.3rem;
    transition-duration: 500ms;
}

.squarePlaceholderItem .content .title h3 {
    transition-duration: 500ms;
}

.squarePlaceholderItem .hidden-text {
    font-size: 1rem;
    height: 1rem;
    opacity: 0;
    transition-duration: 500ms;
}

/* Animation */

.squarePlaceholderItem:hover {
    background-size: auto 100%;
    transition-delay: 100ms;
}

.squarePlaceholderItem:hover .content {
    height: 5.5vh;
    padding: 1.25vh 0;
}

.squarePlaceholderItem:hover .title {
    height: 3vh;
}

.squarePlaceholderItem:hover .hidden-text {
    position: relative;
    opacity: 100;
    transition-delay: 200ms;
}

/* Paramètres de squarePlaceholderItem particuliers */

#birninHeroLandLeaderContainer {
    grid-column: 1 / span 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#squarePlaceholderBirninLeader1 {
    grid-column: 2;
}

#squarePlaceholderBirninLeader2 {
    grid-column: 3;
}

/* Paramètres du background commun à toutes les pages */

.mainBackground {
    height: 60vh;
    width: 100%;
    margin-bottom: 5vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.green-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(2, 24, 18) 0%, rgb(3, 29, 22) 5%, rgba(10, 46, 33, 0.5) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Définition de tous les backgrounds de tous les squarePlaceHolder de toutes les pages */

.heroLandLeaderContainerBackground {
    background: var(--dark-green);
    background: linear-gradient(0deg, var(--dark-green) 30%, var(--dark-green-lighter) 50%, var(--dark-green) 70%); 
}

#squarePlaceHolderHomeLand1 {
    background-image: url(../assets/placeholders/placeholder_8.jpg);
}

#squarePlaceHolderHomeLand2 {
    background-image: url(../assets/placeholders/placeholder_9.jpg);
}

#squarePlaceHolderHomeLand3 {
    background-image: url(../assets/placeholders/placeholder_11.jpg);
}

#squarePlaceHolderHomeLand4 {
    background-image: url(../assets/placeholders/placeholder_3_v2.jpg);
}

#squarePlaceHolderHomeLand5 {
    background-image: url(../assets/placeholders/placeholder_13.jpg);
}

#squarePlaceholderBirninLeader1 {
    background-image: url(../assets/placeholders/placeholder_charac_2.jpg);
}

#squarePlaceholderBirninLeader2 {
    background-image: url(../assets/placeholders/placeholder_charac_3.jpg);
}

#squarePlaceholderBirninHero1 {
    background-image: url(../assets/placeholders/placeholder_charac4.jpg);
}

/* Définition de tous les backgrounds de toutes les pages */

#home-background {
    background-image: url(../assets/placeholders/placeholder_10.png);
    height: 100vh;
}

#characListBackground {
    background-image: url(../assets/placeholders/placeholder_10.png);
}

#birninMainBackground {
    background-image: url(../assets/placeholders/placeholder_8.jpg);
}