html {
    font-size: 100%;
}

body {
    margin: 0;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Trajan Bold";
}

p {
    margin: 0;
    font-family: "Lora";
    font-size: 1.2rem;
}

a {
    color: white;
    text-decoration: none;
}