@font-face {
    font-family: "Trajan Bold";
    src: url(../assets/fonts/Trajan\ Pro\ Bold.ttf);
}

@font-face {
    font-family: "Lora";
    src: url(../assets/fonts/Lora-Medium.ttf);
}

:root {
    --dark-green: #021812;
    --dark-green-lighter: #03221a;
    --light-green: #1A965A;
    --dark-green-opacity: #021812E5;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: "Lora";
    color: white;
    background-color: var(--dark-green-opacity);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Trajan Bold";
}

p {
    margin: 0;
    font-family: "Lora";
    font-size: 1.2rem;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

main {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    gap: 2vh;
}

/*
    Le style pour un item de la catégorie des TESTLONGITEM
    Note : Le background ne marche que pour des images plus larges que hautes.
*/

#TESTLONGITEM {
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.TESTLONGITEMContainer {
    height: 10vh;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.TESTLONGITEMBackground {
    width: 20vw;
    height: 10vh;
    background-size: 110% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

.TESTLONGITEMContainer .content {
    width: 10vw;
    height: 8vh;
    padding: 1vh 0;
    background-color: #021812;
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    transition-duration: 500ms;
}

.TESTLONGITEMContainer .content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TESTLONGITEMContainer .content .title {
    height: 8vh;
    font-size: 1.3rem;
    transition-duration: 500ms;
}

.TESTLONGITEMContainer .content .title h3 {
    transition-duration: 500ms;
}

.TESTLONGITEMContainer .hidden-text {
    font-size: 1rem;
    height: 1rem;
    opacity: 0;
    transition-duration: 500ms;
}

/* Animation */

.TESTLONGITEMContainer:hover .TESTLONGITEMBackground {
    background-size: 100% auto;
    transition-delay: 100ms;
}

.TESTLONGITEMContainer:hover .content {
    height: 6vh;
    padding: 2vh 0;
}

.TESTLONGITEMContainer:hover .title {
    height: 4vh;
}

.TESTLONGITEMContainer:hover .hidden-text {
    position: relative;
    opacity: 100;
    transition-delay: 200ms;
}

/* Définition des backgrounds */

#TESTLONGITEMItem1 .TESTLONGITEMBackground {
    background-image: url(../assets/placeholders/placeholder_charac.jpg);
}

#TESTLONGITEMItem2 .TESTLONGITEMBackground {
    background-image: url(../assets/placeholders/placeholder_charac_2.jpg);
}

#TESTLONGITEMItem3 .TESTLONGITEMBackground {
    background-image: url(../assets/placeholders/placeholder_charac_3.jpg);
}

/* ======================================================================================================================================================= */

/* Le style pour un item de la catégorie des TESTLANDITEM  */

#TESTLANDITEM {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 2vw;
}

.TESTLANDITEMContainer {
    height: 30vh;
    width: 15vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

.TESTLANDITEMContainer .content {
    height: 5em;
    border: 1px solid black;
    text-align: center;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    transition-duration: 500ms;
}

.TESTLANDITEMContainer .content>div {
    background-color: #021812E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TESTLANDITEMContainer .content .title {
    height: 5em;
    border-bottom: 1px solid black;
    transition-duration: 500ms;
}

.TESTLANDITEMContainer .content .title h3 {
    transition-duration: 500ms;
}

.TESTLANDITEMContainer .hidden {
    height: 2.25em;
}

/* L'animation */

.TESTLANDITEMContainer:hover {
    background-size: auto 100%;
}

.TESTLANDITEMContainer:hover .content {
    height: 7.25em;
}

/* Définition des backgrounds */

#landItem1 {
    background-image: url(../assets/placeholders/placeholder_8.jpg);
}

#landItem2 {
    background-image: url(../assets/placeholders/placeholder_9.jpg);
}

#landItem3 {
    background-image: url(../assets/placeholders/placeholder_13.jpg);
}

#landItem4 {
    background-image: url(../assets/placeholders/placeholder_3.jpg);
}

#landItem5 {
    background-image: url(../assets/placeholders/placeholder_11.jpg);
}

/* ======================================================================================================================================================= */

/* Le style pour le header de la catégorie TESTHEADERLIST */

header, footer {
    height: 10vh;
    background-color: var(--dark-green);
    display: flex;
    justify-content: flex-start;
}

header #homeLinkContainer {
    width: 10vh;
    height: 10vh;
}

header #homeLink {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../assets/lucdia_logo.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 10vw);
    grid-template-rows: 10vh auto;
}

nav .navItem {
    position: relative;
    font-family: "Trajan Bold";
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 350ms;
}

header nav .navItem::after, footer nav .navItem::before {
    position: absolute;
    height: 0;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    content: "";
    background-color: var(--light-green);
    transition: 350ms;
}

header nav .navItem::after {
    bottom: 0;
}

footer nav .navItem::before {
    top: 0;
}

nav .navItem a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .activeLink::after {
    height: 5px;
}

/* Pour le menu déroulant */

.navHiddenList {
    height: 0vh;
    overflow: hidden;
    transition-duration: 500ms;
}

.navHiddenList, .navHiddenList li {
    width: 10vw;
    background-color: var(--dark-green);
}

.navHiddenList li {
    height: 5vh;
    opacity: 0;
    transition-duration: 500ms;
}

#landListContainer {
    grid-row: 2;
    grid-column: 2;
}

/* Pour retirer le after moche d'en bas du menu */

nav .navItem.navHiddenList:hover::after {
    height: 0;
}

/* Les animations */

header nav .navItem:hover::after, footer nav .navItem:hover::before {
    height: 5px;
}

.navHiddenList li:hover a, .navHiddenList .activeListItem {
    background-color: var(--dark-green-lighter);
    box-shadow: inset 5px 0px 0px 0px var(--light-green);
    transition-duration: 250ms;
}

/* Spécialement pour la liste des pays. */

#landContainer:hover+#landListContainer, #landListContainer:hover {
    height: 25vh;
}

#landContainer:hover+.navHiddenList li, #landListContainer:hover li {
    opacity: 100;
}

#landContainer:hover+#landListContainer li {
    transition-delay: 200ms;
}

/* ======================================================================================================================================================= */

/* Le style pour les TESTLANDITEM, mais en mieux. */

#TESTLANDITEMV2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 2vw;
}

.squarePlaceholderItemContainer .squarePlaceholderItemContainerTitle {
    grid-column: 1 / span 5;
}

.TESTLANDITEMV2Container {
    height: 30vh;
    width: 15vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

.TESTLANDITEMV2Container .content {
    width: 15vw;
    height: 6vh;
    padding: 1vh 0;
    background-color: var(--dark-green-opacity);
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    transition-duration: 500ms;
}

.TESTLANDITEMV2Container .content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TESTLANDITEMV2Container .content .title {
    height: 6vh;
    font-size: 1.3rem;
    transition-duration: 500ms;
}

.TESTLANDITEMV2Container .content .title h3 {
    transition-duration: 500ms;
}

.TESTLANDITEMV2Container .hidden-text {
    font-size: 1rem;
    height: 1rem;
    opacity: 0;
    transition-duration: 500ms;
}

/* Animation */

.TESTLANDITEMV2Container:hover {
    background-size: auto 100%;
    transition-delay: 100ms;
}

.TESTLANDITEMV2Container:hover .content {
    height: 4vh;
    padding: 2vh 0;
}

.TESTLANDITEMV2Container:hover .title {
    height: 3vh;
}

.TESTLANDITEMV2Container:hover .hidden-text {
    position: relative;
    opacity: 100;
    transition-delay: 200ms;
}