body {
    background-color: #484848;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    margin-top: 5px;
}

a {
    color: white;
    text-decoration: none;
}

#ItemsPaysLucdia {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 2vw;
}

/*
    Le style pour un item de la catégorie des pays
    Note : Le background ne marche que pour des images plus larges que hautes.
*/

.landContainer {
    height: 30vh;
    width: 15vw;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: auto;
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

.content {
    border: 1px solid rgb(0, 57, 80);
    text-align: center;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
}

.content>div {
    background-color: #021812E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .title {
    height: 7.5vh;
    border-bottom: 1px solid rgb(0, 57, 80);
    transition-duration: 500ms;
}

.content .title h3 {
    transition-duration: 500ms;
}

/*Pour adapter à la bonne taille*/
.hidden {
    height: 2.25em;
}

/*
    L'animation pour quand on hover
*/

.landContainer:hover {
    background-size: auto 100%;
    grid-template-rows: 3fr 2fr;
}

.landContainer:hover .title {
    height: 8vh;
}

#landItem1 {
    background-image: url(../assets/placeholders/placeholder_8.jpg);
}

#landItem2 {
    background-image: url(../assets/placeholders/placeholder_9.jpg);
}

#landItem3 {
    background-image: url(../assets/placeholders/placeholder_13.jpg);
}